/* font-family: "GothamPro Regular"; */
@font-face {
  font-family: "GothamPro";
  src: url('../fonts/GothamPro/GothaProReg.eot');
  src: url('../fonts/GothamPro/GothaProReg.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro/GothaProReg.woff') format('woff'),
  url('../fonts/GothamPro/GothaProReg.ttf') format('truetype'),
  url('../fonts/GothamPro/GothaProReg.svg#GothamPro') format('svg');
  font-style: normal;
  font-weight: normal;
}

/* "GothamPro Bold" */
@font-face {
  font-family: "GothamPro";
  src: url('../fonts/GothamPro/GothaProBol.eot');
  src: url('../fonts/GothamPro/GothaProBol.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro/GothaProBol.woff') format('woff'),
  url('../fonts/GothamPro/GothaProBol.ttf') format('truetype'),
  url('../fonts/GothamPro/GothaProBol.svg#GothamPro') format('svg');
  font-style: normal;
  font-weight: bold;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 96px;
  position: relative;
  background: #8665bd url(../img/bg.jpg) center no-repeat fixed;
  background-size: cover;
  color: #fff;
  font-family: "GothamPro", sans-serif;
  font-size: 16px;
  line-height: 1.4;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.container {
  width: 89.58333%;
  margin: 0 auto;
}

/*HEADER NAV*/
header {
  position: relative;
  padding-top: 30px;
  height: 209px;
}
.main-nav {
  float: left;
}
.main-nav__wrapper {
  position: absolute;
}
.main-nav-closed .main-nav__wrapper {
  display: none;
}
.main-nav__open-btn {
  display: block;
  width: 54px;
  height: 26px;
  margin-top: 5px;
  background-color: transparent;
}
.main-nav__open-btn span {
  display: block;
  height: 4px;
  margin-bottom: 7px;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/*HEADER LOGO*/
.top-logo {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 145px;
  margin-left: -72.5px;
}
.top-logo img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/*HEADER CONTACTS*/
.contacts {
  float: right;
  text-align: right;
  line-height: 0.78;
}
.contacts__tel {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
.contacts__time {
  margin-top: 13px;
  margin-bottom: 10px;
  font-size: 14px;
}

/*MAIN PROMO*/
main {
  padding: 5px 0;
}
.promo {
  margin-top: 85px;
  margin-bottom: 80px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.promo__title {
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  letter-spacing: -1.8px;
  -webkit-text-shadow: 0 0 13px rgba(53, 14, 86, 0.75);
  -moz-text-shadow: 0 0 13px rgba(53, 14, 86, 0.75);
  -ms-text-shadow: 0 0 13px rgba(53, 14, 86, 0.75);
  -o-text-shadow: 0 0 13px rgba(53, 14, 86, 0.75);
  text-shadow: 0 0 13px rgba(53, 14, 86, 0.75);
}
.promo__underline {
  position: relative;
}
.promo__underline:after {
  content: '';
  position: absolute;
  display: block;
  width: 33px;
  height: 3px;
  background-color: #00aeef;
  left: 50%;
  bottom: -5px;
  margin-left: -16.5px;
}
.promo__content {
  font-size: 20px;
  margin-bottom: 66px;
  line-height: 30px;
  letter-spacing: -0.5px;
}
.calculation-button {
  width: 95%;
  height: 65px;
  margin: 0 auto;
  border: 1.5px solid #fff;
  -webkit-border-radius: 32px/32px 32px 33px 33px;
  -moz-border-radius: 32px/32px 32px 33px 33px;
  -ms-border-radius: 32px/32px 32px 33px 33px;
  -o-border-radius: 32px/32px 32px 33px 33px;
  border-radius: 32px/32px 32px 33px 33px;
  background-color: transparent;
  outline: none;
  color: #fff;
  font-size: 19px;
  line-height: 45px;
  text-align: center;
  cursor: pointer;
}

/*FOOTER*/
footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 96px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}
/*FOOTER BRANDS*/
.no-js .brands {
  padding-top: 24px;
}
.brands {
  font-size: 0;
  height: 96px;
}
.brands__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 10px;
}
.brands__item img {
  display: block;
  max-width: 100%;
  height: auto;
}
.brands__item--kazahtel {
  width: 79px;
}
.brands__item--allo {
  width: 54px;
}
.brands__item--1s {
  width: 47px;
}
.brands__item--alfa-bank {
  width: 82px;
}
.brands__item--bosch {
  width: 52px;
}
.brands__item--kia {
  width: 43px;
}
.brands__item--np {
  width: 69px;
}
.brands__item--zara {
  width: 64px;
}
.brands__item--vodafone {
  width: 90px;
}
.brands__item--loreal {
  width: 74px;
}
.no-js .brands__item:nth-of-type(n+6) {
  display: none;
}

/*SLIDER*/
.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.slick-dots {
  bottom: 6px;
}
.slick-dots li {
  margin: 0 6px;
}
.slick-dots li button {
  width: 9px;
  height: 9px;
  margin: 0 auto;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.42);
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.slick-dots li button:before {
  content: '';
}
.slick-dots li.slick-active button {
  background-color: #fff;
}
.slick-dots li.slick-active button:before {
  content: '';
}
.slick-track {
  height: 96px;
  padding-top: 24px;
}
.slick-initialized .slick-slide {
  display: inline-block;
  height: auto;
  float: none;
}

@media screen and (min-width: 360px) {
  .brands__item {
    margin-right: 14px;
    margin-left: 13px;
  }
}
@media screen and (min-width: 480px) {
  .calculation-button {
    width: 349px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 93.359375%;
  }
  /*HEADER NAV 768*/
  header {
    padding-top: 29px;
    height: 70px;
  }
  .main-nav__open-btn {
    width: 24px;
    height: 13px;
    margin-top: -4px;
  }
  .main-nav__open-btn span {
    height: 3px;
    margin-bottom: 2px;
  }

  /*HEADER LOGO 768*/
  .top-logo {
    bottom: 6px;
    margin-left: -42.5px;
    width: 85px;
  }

  /*HEADER CONTACTS 768*/
  .contacts {
    line-height: 0.4;
  }
  .contacts__tel {
    font-size: 12px;
  }
  .contacts__time {
    font-size: 10px;
    margin-top: 11px;
  }

  /*MAIN PROMO 768*/
  .promo {
    padding: 0;
    padding-top: 105px;
    margin: 0 auto;
    margin-bottom: 40px;
    width: 475px;
  }
  .promo__title {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.5px;
  }
  .promo__underline:after {
    width: 29px;
    margin-left: -14.5px;
  }
  .promo__content {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 35px;
    letter-spacing: -0.35px;
  }
  .promo__content p {
    margin-top: 10px;
  }
  .promo__content br {
    display: none;
  }
  .calculation-button {
    width: 159px;
    height: 35px;
    line-height: 28px;
    font-size: 12px;
  }

  /*FOOTER 768*/
  body {
    padding-bottom: 53px;
  }
  footer {
    height: 53px;
  }
  /*FOOTER BRANDS*/
  .no-js .brands {
    padding-top: 15px;
  }
  .brands {
    height: 53px;
  }
  .brands__item {
    margin: 0 16px;
  }
  .brands__item--kazahtel {
    width: 60px;
  }
  .brands__item--allo {
    width: 30px;
  }
  .brands__item--1s {
    width: 35px;
  }
  .brands__item--alfa-bank {
    width: 54px;
  }
  .brands__item--bosch {
    width: 27px;
  }
  .brands__item--kia {
    width: 32px;
  }
  .brands__item--np {
    width: 46px;
  }
  .brands__item--zara {
    width: 38px;
  }
  .brands__item--vodafone {
    width: 57px;
  }
  .brands__item--loreal {
    width: 44px;
  }

  /*SLIDER 768*/
  .slick-track {
    height: 53px;
    padding-top: 15px;
  }
}
@media screen and (min-width: 868px) {
  .brands__item {
    margin: 0 21px;
  }
}
@media screen and (min-width: 968px) {
  .brands__item {
    margin: 0 26px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    /*width: 100%;*/
    max-width: 1024px;
  }
  /*HEADER NAV 1024*/
  header {
    padding-top: 45px;
    height: 95px;
  }
  .main-nav__open-btn {
    width: 27px;
    height: 15px;
    margin-top: -8px;
  }
  .main-nav__open-btn span {
    height: 3.5px;
    margin-bottom: 2px;
  }

  /*HEADER LOGO 1024*/
  .top-logo {
    bottom: 2px;
    margin-left: -60.5px;
    width: 121px;
  }

  /*HEADER CONTACTS 1024*/
  .contacts__tel {
    font-size: 14px;
  }
  .contacts__time {
    margin-top: 14px;
  }

  /*MAIN PROMO 1024*/
  .promo {
    width: 600px;
    padding-top: 161px;
    margin-bottom: 60px;
  }
  .promo__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 16px;
    letter-spacing: -1.75px;
  }
  .promo__underline:after {
    width: 32px;
    height: 4px;
    margin-left: -16px;
    bottom: -7px;
  }
  .promo__content {
    font-size: 16px;
    line-height: 40px;
    letter-spacing: -1px;
    margin-bottom: 52px;
  }
  .calculation-button {
    width: 199px;
    height: 44px;
    font-size: 13px;
    line-height: 40px;
  }

  /*FOOTER 1024*/
  body {
    padding-bottom: 76px;
  }
  footer {
    height: 76px;
  }
  /*FOOTER BRANDS 1024*/
  .no-js .brands {
    padding-top: 22px;
  }
  .brands {
    height: 76px;
  }
  .brands__item {
    margin: 0 25px;
  }
  .brands__item--kazahtel {
    width: 74px;
  }
  .brands__item--allo {
    width: 35px;
  }
  .brands__item--1s {
    width: 35px;
  }
  .brands__item--alfa-bank {
    width: 66px;
  }
  .brands__item--bosch {
    width: 32px;
  }
  .brands__item--kia {
    width: 30px;
  }
  .brands__item--np {
    width: 49px;
  }
  .brands__item--zara {
    width: 40px;
  }
  .brands__item--vodafone {
    width: 68px;
  }
  .brands__item--loreal {
    width: 53px;
  }

  /*SLIDER 1024*/
  .slick-track {
    height: 76px;
    padding-top: 22px;
  }
}

@media screen and (min-width: 1124px) {
  .brands__item {
    margin: 0 30px;
  }
}
